.lg_tbar{
    width: 100%;
    height: 30px;
    background-color: black;
    .lg_top{
        color: white;
        float: right;
        margin: 0 20px;
        line-height: 30px;
    }
}
.top-nav-container{
    width: 100%;
    height: 55px;
    background-color: #3763;
    .log{
        display: inline-block;
        line-height: 55px;
        font-size: 30px;
        font-weight: 800;
    }
    .nav-list{
        float: right;
        .nav-item{
            width: 130px;
            line-height: 55px;
            float: left;
            text-align: center;
            font-size: 18px;
         
        }
    }
}
.contain-header{
    background:url(../img/bjt_regular2.jpg);
    height: 223px;
    width: 100%;
    overflow: hidden;
    .form1{
        width: 830px;
        height: 49px;
        border: 1px solid silver;
        margin: 30px auto 0;
        display: flex;
        .search-input{
            width: 740px;
            height: 45px;
            padding-left: 20px;

        }
        .sbnt{
            width: 83px;
            height: 47px;
            background-color: darkcyan;
        }
    }
    .hot-list{
        width: 830px;
        height: 30px;
        // border: 1px solid palegoldenrod;
        margin: 0 auto;
        .hot-item{
            float: left;
            padding:0 11px;
            line-height: 30px;
            font-size: 13px;
            color: #555;
            &:first-child{
               font-weight: 600;

            }
        }
    }
}
.bb{
    // position: fixed;
    // bottom: 0;
    width: 100%;
    height: 200px;
   border: 1px solid silver;

   .bootom{
       display: flex;
       line-height: 200px;
   
       h1{
           font-size: 30px;
       
       }
       .sp,.sp1{
           margin-left: 40px;
       }
       .sp{
            bottom: 20px;
       }
       .sp1{
            bottom: 0px;
       }
   }
  
   h1{

   }
   .sp{
        display: block;
   }
}