
.content{
    // width: ;
    height: 50px;
    margin-top: 20px;
    .content_list{
        float: left;
        margin-right: 50px;
        line-height: 46px;
        font-size: 38px;
      
        
    }
    .jishu_box{
        float: right;
        // background-color: red;
        .jishu_list{
            float: left;
            line-height: 49px;
            font-size: 13px;
            padding: 0 25px;
            // &:hover{
            //     border-bottom: 2px solid palegreen;
            // }
        }
        .ligth{
            border-bottom:2px solid slategrey 
        }
    }
}


.job-list-wrapper{
    width: 100%;
    .job_box,.job_box1{
        width: 1400px;
        height:520px;
        // 
        // border: 1px solid red;
        // width: 1000px; 
        margin-left: -30px;
        display: none;
    .job_list{
        width: 100%;
        height: 430px;
        margin-top: 20px;
   
        .job_itit{
            float: left;
            width:305px;
            height: 220px;
            border: 1px solid #EAEEED;
            margin: 10px 8px;
            .job_top{
                width: 281px;
                height: 115px;
                border-bottom: 1px dashed silver;
                margin: 10px  0 0 15px ;
                .title{
                    display: inline-block;
                    font-size: 16px;
                }
                .time{
                     margin-left: 8px;
                     color: #555;
                     font-size: 11px;
                }
                .wage{
                    color: red;
                    float: right;
                    font-size: 14px;
                }
                .year{
                    // display: inline-block;
                    margin-top: 13px;
                    color: slategray;
                    font-size: 14px;
                }
                .span1{
                    display: inline-block;
                    border: 1px solid #F0F0F0;
                    margin: 16px 8px 0 0;
                    padding: 2px 4px;
                    font-size: 12px;
                }
            }
            .job_bottom{
                width: 240px;
                height: 50px;
                margin: 0 0 0 15px ;
                position: relative;
                // line-height: 50px;
                .bo_log{
                    width: 40px;
                    height: 40px;
                    float: left;
                    margin-top: 7px;
                    
                }
                .bo_1{
                    float: left;
                    margin-left: 13px;
                    margin-top: 10px;
                    font-size: 13px;
                }
                .bo_2{
                    position: absolute;
                    left: 50px;
                    top: 29px;
                    color: #999;
                    font-size: 13px;
                }
            }
        }
    }
    .pager_container{
      
        height: 30px;
        float: right;
        .pager{
            display: inline-block;
            width: 60px;
            height: 25px;
            border: 1px solid #ededed;
            text-align: center;
        }
    }
}
}